
//
// Result Box Component
//
.result-box
  min-height 500px
  padding 16px
  width 100%

  > .wrap
    margin 0 auto
    margin-top 30px
    max-width 700px
    width 100%

    @media ( max-width: 500px )
      margin-top 10px

  .title-box
    align-items center
    border-bottom 1px solid black
    display flex
    justify-content space-between
    width 100%

    > .title
      font-weight 400
      padding-bottom 5px

      @media ( max-width: 500px )
        font-size 14px

    > .close
      color red

  .tabs-box
    margin-top 30px

  app-user-infos
    max-width 550px
    width 100%

  app-user-repositories
    width 100%

/deep/ .mat-tab-body-content
  display flex
  justify-content center
  padding 20px

  @media ( max-width: 500px )
    padding 10px
