
<section class="result-box" *ngIf="isResultLoaded">
  <div class="wrap">

    <div class="title-box">
      <h2 class="title">Result for: <b>{{ userInfos.login }}</b></h2>
      <button class="close" mat-icon-button (click)="closeResult()">
        <i class="material-icons">close</i>
      </button>
    </div>

    <mat-tab-group class="tabs-box">

      <mat-tab label="About the User">
        <app-user-infos [data]="userInfos"></app-user-infos>
      </mat-tab>

      <mat-tab label="Repositories">
        <app-user-repositories [data]="userRepositories"></app-user-repositories>
      </mat-tab>

    </mat-tab-group>

  </div>
</section>
