

<ul class="list">

  <li *ngFor="let repo of data">
    <div class="title">
      <h3>{{ repo.name }}</h3>
      <a [href]="repo.html_url" target="_blank" color="primary" mat-raised-button>
          <i class="material-icons icon-btn">call_made</i>
          View
        </a>
    </div>
    <p>{{ repo.description }}</p>
  </li>

</ul>
