
//
// User Repositories Component
//
.list
  list-style none
  width 100%

  li
    border-bottom 1px solid #ccc
    padding 20px 0

  .title
    align-items flex-end
    display flex
    justify-content space-between

    h3
      font-size 20px
      padding-right 10px

      @media ( max-width: 500px )
        font-size 16px

  p
    color #afafaf
    margin-top 20px

    @media ( max-width: 500px )
      font-size 14px
