
<mat-card class="user-infos" *ngFor="let user of data">

  <img [src]="user.avatar_url">
  <div class="infos">
    <div class="title">
      <div class="box">
        <h3>{{ user.name }}</h3>
        <p>{{ user.location }}</p>
      </div>
      <a [href]="user.html_url" target="_blank" color="primary" mat-raised-button>
        <i class="material-icons icon-btn">call_made</i>
        Github
      </a>
    </div>

    <div class="box-details">

      <div class="box">
        <h4>Public Repos</h4>
        <p>{{ user.public_repos }}</p>
      </div>

      <div class="box">
        <h4>Public Gists</h4>
        <p>{{ user.public_gists }}</p>
      </div>

      <div class="box">
        <h4>Followers</h4>
        <p>{{ user.followers }}</p>
      </div>

      <div class="box">
        <h4>Following</h4>
        <p>{{ user.following }}</p>
      </div>
    </div>

  </div>
</mat-card>
