
.user-infos
  align-items center
  display flex
  justify-content space-between

  @media ( max-width: 386px )
    flex-direction column
    justify-content center

  > img
    border-radius 50%
    width 100px

    @media ( max-width: 386px )
      margin-bottom 15px

  > .infos
    flex-grow 1
    padding-left 20px

    @media ( max-width: 386px )
      padding 0
      text-align center

    .title
      align-items center
      display flex
      flex-wrap wrap
      justify-content space-between

      @media ( max-width: 386px )
        justify-content center

      a
        @media ( max-width: 570px )
          margin-top 10px

      .box
        flex-grow 1
        max-width 250px
        width 100%

        p
          margin-top 5px

  .box-details
    align-items center
    border-top 1px solid #ccc
    display flex
    flex-wrap wrap
    justify-content space-between
    margin-top 20px
    text-align center
    width 100%

    .box
      font-size 14px
      padding 10px 5px

      p
        margin-top 5px
