/* You can add global styles to this file, and also import other style files */
body
  color rgba( 0, 0, 0, 0.87 )
  font-family 'Roboto', sans-serif

*
  box-sizing border-box
  margin 0
  padding 0

.icon-btn
  font-size 14px
