
//
// Search Component
//
.search-user
  align-items center
  background #f1f1f1
  display flex
  height calc( 100vh - 64px )
  justify-content center
  transition height 0.4s
  width 100%
  will-change height

  @media ( max-width: 490px )
    padding 0 20px

  &.-active
    height 300px

  .search-box
    max-width 450px
    transition all 0.3s
    width 100%

    > .title
      font-size 35px
      margin-bottom 30px
      text-align center

      @media ( max-width: 420px )
        font-size 28px

    > .form_box
      background #fff
      border-radius 4px
      box-shadow 0 2px 1px -1px rgba( 0, 0, 0, 0.2 ), 0 1px 1px 0 rgba( 0, 0, 0, 0.14 ), 0 1px 3px 0 rgba( 0, 0, 0, 0.12 )
      padding 16px
      width 100%

      > .box
        align-items center
        display flex
        justify-content space-between

      mat-form-field
        flex-grow 1

      .btn
        margin-left 20px
        transition opacity 0.3s

        @media ( max-width: 350px )
          margin-left 5px

        &.-searching
          opacity 0.5
          pointer-events none

/deep/ .mat-form-field-infix
  max-width 180px
  width 100% !important
